@charset "UTF-8";
body{
  font-family: "Lucida Grande","segoe UI","ヒラギノ丸ゴ ProN W4","Hiragino Maru Gothic ProN",Meiryo,Arial,sans-serif;
  color: #452a11;
}
.c__red {
  color: red; }

.c__blue {
  color: blue; }

.b__red {
  background-color: red; }

.b__blue {
  background-color: blue; }

.container {
  width: 960px; }

.clear{
  clear: both;
}

.boards {
  position: absolute;
  bottom: 0;
  bottom: 12%; }
  .boards .boards__link:hover{
    opacity: 0.9;
  }
  .boards .boards__link, .boards .boards__link1, .boards .boards__link5 {
    margin: 0px 7px; }
  .boards .boards__link1 {
    margin-left: 8px; }
  .boards .boards__link1:hover{
    opacity:0.9;
  }
  .boards .boards__link5 {
    margin-right: 8px; }
  .boards .boards__link5:hover{
    opacity: 0.9;
  }
.bottom-back-image {
  height: 700px;
  min-width: 960px;
  background-size: cover;
  /* Firefox */
  background: -moz-linear-gradient(top center, #8e5424 0%, #4f2a0d 100%);
  /* Chrom と Safari */
  background: -webkit-gradient(linear, center top, center bottom, from(#8e5424), to(#4f2a0d));
  /* 共通 */
  background: linear-gradient(top center, #8e5424 0%, #4f2a0d 100%);
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  }

.bottom-back-image p{
  margin-bottom: 6px;
  font-size: 13px;
  color: #5f3f24;
}

.footer-content-image{
  height: 700px;
  width: 960px;
  background: url("../img/footer.png");
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  margin-right: auto;
  margin-left: auto;
}

.about-site{
  position: absolute;
  margin-left: 38px;
  margin-top: 150px;
}

.development-history{
  position: absolute;
  right: 0;
  margin-right: 28px;
  margin-top: 82px;
}

.about-license{
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: 405px;
}

.about-license a{
  color: #5f3f24;
  text-decoration: underline;
}

.box {
  height: 140px; }

.content-body--app .content-body--app__title {
  margin: 30px 30px; }
.content-body--app .content-body--app__tab {
  margin: 0px 15px; }

.content-body--character .content-body--character__title {
  margin: 30px 30px; }
.content-body--character .content-body--character__board, .content-body--character .content-body--character__board--right, .content-body--character .content-body--character__board--left {
  margin: 15px 15.5px;
  margin-bottom: 58px; }
.content-body--character .content-body--character__board--right {
  margin-right: 25px; }
.content-body--character .content-body--character__board--left {
  margin-left: 25px; }
.content-body--character .umekomisen {
  clear: both;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px white;
  margin: 0px 35px; }
.content-body--development .benkyoukai__text{
  text-align: center;
}
.content-body--development a.benkyoukai img{
  width: 530px;
  margin: 0px 33px;
}
.content-body--development .content-body--development__title {
  margin: 30px 30px; }
.content-body--development .content-body--development__tab {
  margin: 0px 15px;
  border: 4px solid #a5a5a5;
  width: 215px; }
.content-body--development .content-body--development__tab .border-bottom {
  border-bottom: 1px solid #a5a5a5; }
.content-body--development .content-body--development__tab img:hover {
  opacity: 0.9;
}
.content-body--development .umekomisen {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px white;
  margin: 5px 0px; }
.content-body--development .kaihatutekisuto {
  margin: 30px 0px; }
.content-body--development .kaihatutekisuto .tekisuto-img{
  display: inline-block;
  vertical-align: top; }
.content-body--development .kaihatutekisuto .tekisuto-img .tekisuto img{
  width: 220px;
  height: 260px;
  border: 1px solid #999;}
.content-body--development .kaihatutekisuto .tekisuto-img .download-btn:hover{
  opacity: 0.7; }
.content-body--development .kaihatutekisuto .tekisuto-img .download-btn{
  margin-top: 20px; }
.content-body--development .kaihatutekisuto .tekisuto-tc{
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
.content-body--development .kaihatutekisuto .tekisuto-tc img{
  width: 300px; }
.content-body--development .sankousiryou__text{
  margin-top: 40px; }
.content-body--development .sankousiryou__text h4{
  margin: 10px 0px;
}
.content-body--development ul{
  margin: 30px 25px; }
.content-body--form {
  max-height: 550px; }
  .content-body--form .content-body--form__title {
    margin: 30px 30px; }
  .content-body--form .content-body--form__box {
    margin: 28px 0px; }
    .content-body--form__box__img-icon{
      margin-right: 30px;
      margin-left: 120px;
      width: 50px;
    }
    .content-body--form__box__img-icon2{
      margin-right: 32px;
      margin-left: 120px;
      width: 50px;
    }
.content-body--development #benkyoukai{
  margin-top: 20px;
}
.content-body--sample {
  position: relative; }
  .content-body--sample .content-body--sample__title {
    margin: 30px 30px; }
  .content-body--sample .content-body--sample__dl1 {
    position: relative;
    margin-right: 15px;
    margin-left: 30px; }
  .content-body--sample .content-body--sample__btn1:hover{
    opacity: 0.9; }
  .content-body--sample .content-body--sample__btn1 {
    position: absolute;
    top: 180px;
    right: 350px; }
  .content-body--sample .content-body--sample__dl2 {
    position: relative;
    margin-right: 30px;
    margin-left: 15px; }
  .content-body--sample .content-body--sample__btn2:hover{
    opacity: 0.9; }
  .content-body--sample .content-body--sample__btn2 {
    position: absolute;
    top: 180px;
    right: 60px; }
  .content-body--sample .game-list {
    width: 960px;
    margin-right: auto;
    margin-left: auto; }
    .content-body--sample .game-list .game {
      float: left;
      position: relative;
      width: 245px;
      min-height: 360px;
      margin: 15px 37.5px; }
      .content-body--sample .game-list .game a:hover {
        color: #16aef0; }
      .content-body--sample .game-list .game a {
        text-decoration: none;
        color: #555; }
        .content-body--sample .game-list .game a .game__play-btn {
          position: absolute;
          width: 95px;
          margin-top: 20px;
          left: 31%;
          opacity: 0.95; }
        .content-body--sample .game-list .game a img {
          width: 245px; }
        .content-body--sample .game-list .game .game__sourcecode-btn:hover{
          opacity: 0.7; }
        .content-body--sample .game-list .game .game__sourcecode-btn{
          margin: 4px 0px;}
        .content-body--sample .game-list .game .game__txt{
          height: 70px; }
        .content-body--sample .game-list .game a .title {
          margin: 2px 0px 4px 0px;
          font-weight: 600; }
        .content-body--sample .game-list .game .game-content {
          height:100px;
        }

.content-body, .content-body--app, .content-body--character, .content-body--development, .content-body--form{
  clear: both;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  height: 1480px; }
.content-body--sample{
  clear: both;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  min-height: 13150px; }
.footer--homes {
  position: absolute;
  width: 960px;
  margin-bottom: 20px;
  bottom: 0px; }
  .footer--homes .declar{
    color: rgba(255, 255, 255, 0.5);
    float: left;
    width: 480px;
    text-align: center; }
    .footer--homes .declar a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5); }
    .footer--homes .declar a:hover {
      color: white; }
  .footer--homes .company {
    color: rgba(255, 255, 255, 0.5);
    float: left;
    width: 480px;
    text-align: center; }

.footer {
  bottom: 0px;
  min-height: 80px;
  width: auto;
  /* Firefox */
  background: -moz-linear-gradient(top center, #8e5424 0%, #4f2a0d 100%);
  /* Chrom と Safari */
  background: -webkit-gradient(linear, center top, center bottom, from(#8e5424), to(#4f2a0d));
  /* 共通 */
  background: linear-gradient(top center, #8e5424 0%, #4f2a0d 100%); }
  .footer .declar {
    color: rgba(255, 255, 255, 0.5);
    top: 30px;
    text-align: center;
    position: relative; }
    .footer .declar a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.5); }
    .footer .declar a:hover {
      color: white; }
  .footer .company {
    color: rgba(255, 255, 255, 0.5);
    top: 30px;
    text-align: center;
    position: relative; }
.header {
  width: 100%; }
  .header .header__title {
    margin: 50px 0px;
    margin-left: -60px; }
  .header .header__cloud, .header .header__facebook, .header .header__twitter {
    position: absolute; }
  .header .header__facebook {
    margin-top: 50px;
    margin-left: 20px; }
  .header .header__twitter {
    right: 0;
    margin-top: 80px; }
  .header .header__facebook:hover, .header .header__twitter:hover{
    opacity: 0.7;
  }

.holes .holes__hole, .holes .holes__hole1, .holes .holes__hole2, .holes .holes__hole3 {
  position: absolute; }
.holes .holes__hole1 {
  left: 0;
  margin-left: 160px;
  margin-top: 180px; }
.holes .holes__hole2 {
  margin-top: 130px;
  margin-left: 395px; }
.holes .holes__hole3 {
  right: 0;
  margin-right: 145px;
  margin-top: 25px; }
.holes .holes__hole3:hover{
  cursor: pointer;
}

.sub-header {
  width: 960px;
  height: 67px;
  margin: 20px 0px; }
  .sub-header .sub-header__title {
    desplay: block;
    float: left;
    margin: 11px 0px; }
  .sub-header .sub-header__clouds {
    width: 720px; }
    .sub-header .sub-header__clouds .sub-header__cloud:hover{
      opacity: 0.7; }
    .sub-header .sub-header__clouds .sub-header__cloud, .sub-header .sub-header__clouds .sub-header__cloud--active {
      text-align: center;
      width: 144px;
      display: block;
      float: left; }
    .sub-header .sub-header__clouds .sub-header__cloud--active {
      margin-top: 4px; }

.top-back-image, .top-back-image--fixed {
  background-image: url(../img/back.png);
  background-size: cover;
  min-width: 960px;
  min-height: 746px;
  background-position: center top;
  background-repeat: no-repeat;
  position: relative; }

.top-content {
  width: 960px;
  height: 746px;
  margin-right: auto;
  margin-left: auto;
  position: relative; }

.top-back-image--fixed {
  background-image: url(../img/back-none.png);
  background-attachment: fixed;
  padding-bottom: 60px; }
