<!DOCTYPE html>
<html>
  <head>
    <title>Work</title>
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../css/application.css" type="text/css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="SFxb9Nvtf0sQClRZuHVugbsQvgHz2VfvLmIu3LxoD3E=" name="csrf-token" />
  </head>
 <body>
    <div class='top-back-image--fixed'>
      <div class='content container'>
        <div class='row'>
          <div class='sub-header'>
            <a class="sub-header__title" href="../homes/index.html"><img alt="Sub title" src="../../img/sub-title.png" /></a>
            <a class="sub-header__img" href="../characters/index.html"><img alt="Head link1" src="../../img/head-link1.png" /></a>
            <a class="sub-header__img" href="../sample/index.html"><img alt="Head link2" src="../../img/head-link2.png" /></a>
            <a class="sub-header__img" href="../development/index.html"><img alt="Head link3" src="../../img/head-link3.png" /></a>
            <a class="sub-header__img" href="../apps/index.html"><img alt="Head link4" src="../../img/head-link4.png" /></a>
            <a class="sub-header__img" href="../form/index.html"><img alt="Head alink5" src="../../img/head-alink5.png" /></a>
          </div>
          <div class='content-body--form'>
            <div class='pull-left'>
              <img alt="Otoiawase" class="content-body--form__title" src="../../img/otoiawase.png" />
            </div>
            <div class='row'>
              <div class='col-md-12'>
                <div class='col-md-2'></div>
                <div class='col-md-8'>
                  <img alt="Mail" class="content-body--form__img" src="../../img/mail.png" />
                </div>
                <div class='col-md-2'></div>
              </div>
              <div class='col-md-12'>
                <div class='col-md-2'></div>
                <div class='col-md-8'>
                  <img alt="Twitter2" class="content-body--form__img" src="../../img/twitter2.png" />
                </div>
                <div class='col-md-2'></div>
              </div>
              <div class='col-md-12'>
                <div class='col-md-2'></div>
                <div class='col-md-8'>
                  <img alt="Facebook2" class="content-body--form__img" src="../../img/facebook2.png" />
                </div>
                <div class='col-md-2'></div>
              </div>
              <div class='col-md-12'>
                <div class='col-md-2'></div>
                <div class='col-md-8'>
                  <img alt="Googledrive" class="content-body--form__img" src="../../img/googledrive.png" />
                  <img alt="Googledrive" class="content-body--form__img" src="../../img/form-btn.png" />
                </div>
                <div class='col-md-2'></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>