
<!DOCTYPE html>
<html>
  <head>
    <title>Work</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/application.css" type="text/css">
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="SFxb9Nvtf0sQClRZuHVugbsQvgHz2VfvLmIu3LxoD3E=" name="csrf-token" />
  </head>
  <body>
    <div class='top-back-image--repeat'>
      <div class='content container'>
        <div class='row'>
          <div class='sub-header pull-left'>
            <img alt="Sub title" class="sub-header__title" src="../img/sub-title.png" />
            <img alt="Head alink1" class="sub-header__title" src="../img/head-alink1.png" />
            <img alt="Head link2" class="sub-header__title" src="../img/head-link2.png" />
            <img alt="Head link3" class="sub-header__title" src="../img/head-link3.png" />
            <img alt="Head link4" class="sub-header__title" src="../img/head-link4.png" />
            <img alt="Head link5" class="sub-header__title" src="../img/head-link5.png" />
          </div>
          <div class='content-body--character'>
            <div class='pull-left'>
              <img alt="Character" class="content-body--character__title" src="../img/character.png" />
            </div>
            <div class='pull-left'>
              <img alt="Mol" class="content-body--character__board--left" src="../img/mol.png" />
              <img alt="Asotaro" class="content-body--character__board" src="../img/asotaro.png" />
              <img alt="Hekokiman" class="content-body--character__board--right" src="../img/hekokiman.png" />
            </div>
            <div class='pull-left'>
              <img alt="Nakanohito" class="content-body--character__title" src="../img/nakanohito.png" />
            </div>
            <div class='pull-left'>
              <img alt="Ohata" class="content-body--character__board--left" src="../img/ohata.png" />
              <img alt="Takahashi" class="content-body--character__board" src="../img/takahashi.png" />
              <img alt="Teranishi" class="content-body--character__board--right" src="../img/teranishi.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
