
<!DOCTYPE html>
<html>
  <head>
    <title>Work</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../css/application.css" type="text/css">
    <link data-turbolinks-track="true" href="/assets/application.css" media="all" rel="stylesheet" />
    <link data-turbolinks-track="true" href="../bootstrap/css/*.css" media="all" rel="stylesheet" />
    <script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/apps.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/charcters.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/development.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/form.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/pages.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/sample.js?body=1"></script>
    <script data-turbolinks-track="true" src="/assets/application.js?body=1"></script>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="SFxb9Nvtf0sQClRZuHVugbsQvgHz2VfvLmIu3LxoD3E=" name="csrf-token" />
  </head>
  <body>
    <div class='top-back-image'>
      <div class='content container'>
        <div class='row'>
          <div class='header pull-left'>
            <div class='col-md-7'>
              <img alt="Title" class="header__title" src="../img/title.png" />
            </div>
            <div class='col-md-5'>
              <div class='pull-left'>
                <img alt="Facebook" class="header__facebook" src="../img/facebook.png" />
              </div>
              <div class='pull-right'>
                <img alt="Twitter" class="header__twitter" src="../img/twitter.png" />
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='box'></div>
          <div class='col-md-12'>
            <div class='holes'>
              <div class='pull-left'>
                <img alt="Hole" class="holes__hole1" src="../img/hole.png" />
                <img alt="Hole" class="holes__hole2" src="../img/hole.png" />
              </div>
              <div class='pull-right'>
                <img alt="Hole" class="holes__hole3" src="../img/hole.png" />
              </div>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='boards'>
            <img alt="Top link1" class="boards__link1" src="../img/top-link1.png" />
            <img alt="Top link1" class="boards__link" src="../img/top-link1.png" />
            <img alt="Top link1" class="boards__link" src="../img/top-link1.png" />
            <img alt="Top link1" class="boards__link" src="../img/top-link1.png" />
            <img alt="Top link1" class="boards__link5" src="../img/top-link1.png" />
          </div>
        </div>
      </div>
    </div>
    <div class='bottom-back-image'></div>
  </body>
</html>
