<html>
  <head>
    <title>ms100games</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="../css/application.css" type="text/css">
  </head>
   <body>
    <div class='top-back-image--fixed'>
      <div class='content container'>
        <div class='row'>
          <div class='sub-header pull-left pull-left'>
            <a class="sub-header__title" href="/homes/index"><img alt="Sub title" src="/assets/img/sub-title.png" /></a>
            <div class='sub-header__clouds pull-right'>
              <a class="sub-header__cloud" href="/characters/index"><img alt="Head link1" src="/assets/img/head-link1.png" /></a>
              <a class="sub-header__cloud--active" href="/sample/index"><img alt="Head alink2" src="/assets/img/head-alink2.png" /></a>
              <a class="sub-header__cloud" href="/development/index"><img alt="Head link3" src="/assets/img/head-link3.png" /></a>
              <a class="sub-header__cloud" href="http://molgamefactory.tumblr.com/" target="_blank"><img alt="Head link4" src="/assets/img/head-link4.png" /></a>
              <a class="sub-header__cloud" href="/form/index"><img alt="Head link5" src="/assets/img/head-link5.png" /></a>
            </div>
          </div>
          <div class='content-body--sample'>
            <div class='pull-left'>
              <img alt="Samplegame" class="content-body--sample__title" src="/assets/img/samplegame.png" />
            </div>
            <div class='pull-right'>
              <img alt="Sourcecode" class="content-body--sample__dl1" src="/assets/img/sourcecode.png" />
              <img alt="Github btn" class="content-body--sample__btn1" src="/assets/img/github-btn.png" />
              <img alt="Aifile" class="content-body--sample__dl2" src="/assets/img/aifile.png" />
              <img alt="Download btn2" class="content-body--sample__btn2" src="/assets/img/download-btn2.png" />
            </div>
            <div class='row'>
              <div class='col-md-12'></div>
            </div>
            <div class="game-list">
              <div class="game">
                <a href = "100m_hurdle/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "100m_hurdle/screenshot.png">
                  <div class="title">No.1 100m走ハードル</div>
                </a>
                <div>
                  100メートルハードル走でタイムを競おう！
                </div>
              </div>

              <div class="game">
                <a href = "100m_run/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "100m_run/screenshot.png">
                  <div class="title">No.2 100m走</div>
                </a>
                <div>
                  100メートル走で世界記録をめざそう！
                </div>
              </div>

              <div class="game">
                <a href = "23_no_yoru/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "23_no_yoru/screenshot.png">
                  <div class="title">No.3 23の夜</div>
                </a>
                <div>
                  「こんな研究やってられっか！」院での研究生活に嫌気がさした23の夜。バイクで突っ走る。行き先は誰もわからない。追いかけてくる教授から逃げよう！
                </div>
              </div>

              <div class="game">
                <a href = "50m_hurdle/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "50m_hurdle/screenshot.png">
                  <div class="title">No.4 50m走ハードル</div>
                </a>
                <div>
                  50メートル走です。あなたは何秒で走れるでしょうか?
                </div>
              </div>

              <div class="game">
                <a href = "50m_jiyugata/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "50m_jiyugata/screenshot.png">
                  <div class="title">No.5 50m自由形</div>
                </a>
                <div>50メートルの自由形でタイムを競おう！</div>
              </div>

              <div class="game">
                <a href = "50m_run/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "50m_run/screenshot.png">
                  <div class="title">No.6 50m走</div>
                </a>
                <div>50メートル走りましょう。</div>
              </div>

              <div class="game">
                <a href = "200m_run/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "200m_run/screenshot.png">
                  <div class="title">No.7 200m走</div>
                </a>
                <div>200メートル走で世界記録をめざそう！</div>
              </div>

              <div class="game">
                <a href = "400m_run/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "400m_run/screenshot.png">
                  <div class="title">No.8 400m走</div>
                </a>
                <div>400メートル走で世界記録をめざそう！</div>
              </div>

              <div class="game">
                <a href = "air_hockey/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "air_hockey/screenshot.png">
                  <div class="title">No.9 エアホッケー</div>
                </a>
                <div>ホッケー対決です。友達と対戦しましょう。</div>
              </div>

              <div class="game">
                <a href = "aitsu_wo_nerae/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "aitsu_wo_nerae/screenshot.png">
                  <div class="title">No.10 アイツヲネラエ</div>
                </a>
                <div>飛んでいるへこきーまんをゴルフボールで狙い撃とう！</div>
              </div>

              <div class="game">
                <a href = "align_picture/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "align_picture/screenshot.png">
                  <div class="title">No.11 神経質衰弱</div>
                </a>
                <div>神経を衰弱させるゲームです。</div>
              </div>

              <div class="game">
                <a href = "answer_capital/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "answer_capital/screenshot.png">
                  <div class="title">No.12 世界の首都を答えましょう。</div>
                </a>
                <div>世界の首都を当てるゲームです。どのくらい知っているか試してみましょう。</div>
              </div>

              <div class="game">
                <a href = "ar_count_5/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "ar_count_5/screenshot.png">
                  <div class="title">No.13 人工呼吸まであと5秒</div>
                </a>
                <div>あいつ！？が来るまでに連打で死にそうな人を助けよう！</div>
              </div>

              <div class="game">
                <a href = "asagao/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "asagao/screenshot.png">
                  <div class="title">No.14 朝顔が朝咲くと思うなよ</div>
                </a>
                <div>朝顔が朝だけに咲くとか思うなよ！夜明けまでにこすって咲かせてしまおう！</div>
              </div>

              <div class="game">
                <a href = "asoko_wo_nerae/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "asoko_wo_nerae/screenshot.png">
                  <div class="title">No.15 アソコヲネラエ</div>
                </a>
                <div>ゴルフボールをタイミングよく打ってアソコを狙え！</div>
              </div>

              <div class="game">
                <a href = "bakemono_bako_1/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "bakemono_bako_1/screenshot.png">
                  <div class="title">No.16 化物箱1</div>
                </a>
                <div>この化物箱を完全制覇することができるか！？(初級編)</div>
              </div>

              <div class="game">
                <a href = "bakemono_bako_2/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "bakemono_bako_2/screenshot.png">
                  <div class="title">No.17 化物箱2</div>
                </a>
                <div>この化物箱を完全制覇することができるか！？(中級編)</div>
              </div>

              <div class="game">
                <a href = "bakemono_bako_3/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "bakemono_bako_3/screenshot.png">
                  <div class="title">No.18 化物箱3</div>
                </a>
                <div>この化物箱を完全制覇することができるか！？(上級編)</div>
              </div>

              <div class="game">
                <a href = "baseball_board/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "baseball_board/screenshot.png">
                  <div class="title">No.19 野球盤ホームラン競争</div>
                </a>
                <div>ホームラン競争です。どのくらいホームランが打てるか!?</div>
              </div>

              <div class="game">
                <a href = "box_dive/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "box_dive/screenshot.png">
                  <div class="title">No.20 BOX DIVE</div>
                </a>
                <div>話題沸騰。タイミングをあわせてアイスボックスにダイブしよう！</div>
              </div>

              <div class="game">
                <a href = "break_out/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "break_out/screenshot.png">
                  <div class="title">No.21 ブロッククズシ</div>
                </a>
                <div>古典ゲームのブロック崩しです。完全クリアをめざせ!</div>
              </div>

              <div class="game">
                <a href = "car_chase/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "car_chase/screenshot.png">
                  <div class="title">No.22 カーチェイス</div>
                </a>
                <div>前からくる車をよけてよけまくれ！</div>
              </div>

              <div class="game">
                <a href = "chewing_bubble/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "chewing_bubble/screenshot.png">
                  <div class="title">No.23 チューイングバブル</div>
                </a>
                <div>とにかくタップして、風船ガムを割ろう！</div>
              </div>

              <div class="game">
                <a href = "chie_no_wa/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "chie_no_wa/screenshot.png">
                  <div class="title">No.24 知恵つかわない輪</div>
                </a>
                <div>知恵なんて使わなくとも力があればはずせるのさ！連打して知恵の輪を破壊しよう！</div>
              </div>

              <div class="game">
                <a href = "couple_shooting/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "couple_shooting/screenshot.png">
                  <div class="title">No.25 カップル♡シューティング</div>
                </a>
                <div>リア充を銃撃するんだ！ただし、男女のカップルだけではないこの世の中。</div>
              </div>

              <div class="game">
                <a href = "couple_uranai/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "couple_uranai/screenshot.png">
                  <div class="title">No.26 これで幸せ！カップル占い</div>
                </a>
                <div>あの人との相性はどれくらい？一言アドバイスももらえるよ！</div>
              </div>

              <div class="game">
                <a href = "dangeon/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "dangeon/screenshot.png">
                  <div class="title">No.27 ダンジョン？-なにそれおいしいの？-</div>
                </a>
                <div>
                  ダンジョン？ 行き止まり？ 壁を壊して近道しちゃおう。壁を壊して魔王のところまで突き進もう。
                </div>
              </div>

              <div class="game">
                <a href = "darts/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "darts/screenshot.png">
                  <div class="title">No.28 Simple Darts</div>
                </a>
                <div>
                  とてもシンプルなダーツです。遊び方は貴方次第。スイカ割りみたいにみんなでやると楽しいかも？？
                </div>
              </div>

              <div class="game">
                <a href = "dribbler/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "dribbler/screenshot.png">
                  <div class="title">No.29 ドリブラー</div>
                </a>
                <div>ひたすらドリブルで相手をよけてよけまくれ！</div>
              </div>

              <div class="game">
                <a href = "endless_lifting/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "endless_lifting/screenshot.png">
                  <div class="title">No.30 エンドレスリフティング</div>
                </a>
                <div>ただひたすら日が暮れるまでリフティングをするゲーム。</div>
              </div>

              <div class="game">
                <a href = "escape_step/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "escape_step/screenshot.png">
                  <div class="title">No.31 踏みつぶされるな！</div>
                </a>
                <div>踏みつぶされないように巨人の足から逃げよう！</div>
              </div>

              <div class="game">
                <a href = "figyumon/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "figyumon/screenshot.png">
                  <div class="title">No.32 フィギュアモンスター</div>
                </a>
                <div>
                  図形も動けば可愛い？！自分だけの幾何学モンスターを作成しよう！
                </div>
              </div>

              <div class="game">
                <a href = "free_throw/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "free_throw/screenshot.png">
                  <div class="title">No.33 フリースロー</div>
                </a>
                <div>フリースローでめざせくろこ！</div>
              </div>

              <div class="game">
                <a href = "fruits_cutting/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "fruits_cutting/screenshot.png">
                  <div class="title">No.34 フルーツカッティング</div>
                </a>
                <div>果物をすばやく切って切りまくれ！</div>
              </div>

              <div class="game">
                <a href = "fure_fure_cola/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "fure_fure_cola/screenshot.png">
                  <div class="title">No.35 フレフレコーラ</div>
                </a>
                <div>コーラをふってふって爆発させよう。</div>
              </div>

              <div class="game">
                <a href = "gari_gari/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "gari_gari/screenshot.png">
                  <div class="title">No.36 ガリガリうらない</div>
                </a>
                <div>今日のあなたのうんせいは？ガリガリ君に聞いてみよう！</div>
              </div>

              <div class="game">
                <a href = "gekko/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "gekko/screenshot.png">
                  <div class="title">No.37 月光</div>
                </a>
                <div>
                  見つからないようにサーチライトに敵を入れろ！
                </div>
              </div>

              <div class="game">
                <a href = "gun_fight/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "gun_fight/screenshot.png">
                  <div class="title">No.38 GUN FIGHT</div>
                </a>
                <div>
                  西部開拓時代、男たちは戦いに明け暮れていた。タイミングよく銃を撃とう。
                </div>
              </div>

              <div class="game">
                <a href = "hage_migaki/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "hage_migaki/screenshot.png">
                  <div class="title">No.39 ハゲ磨き</div>
                </a>
                <div>ハゲ頭をひたすら磨いて輝かせよう！</div>
              </div>

              <div class="game">
                <a href = "hammer_throw/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "hammer_throw/screenshot.png">
                  <div class="title">No.40 HammerThrow</div>
                </a>
                <div>
                  10秒間で力を溜めてハンマーを投げよう!
                </div>
              </div>

              <div class="game">
                <a href = "hanpuku_yokotobi/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "hanpuku_yokotobi/screenshot.png">
                  <div class="title">No.41 連打で伸ばせ！反復横跳</div>
                </a>
                <div>反復横跳だけやたらスコアの良い人いましたよね？連打で学年トップを目指そう！</div>
              </div>

              <div class="game">
                <a href = "harabo/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "harabo/screenshot.png">
                  <div class="title">No.42 ハラハラ棒</div>
                </a>
                <div>迫りくる棒からハラハラしながら逃げよう！(易)</div>
              </div>

              <div class="game">
                <a href = "harabo_kai/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "harabo_kai/screenshot.png">
                  <div class="title">No.43 ハラハラ棒・改</div>
                </a>
                <div>迫りくる棒からハラハラしながら逃げよう！(改)</div>
              </div>

              <div class="game">
                <a href = "harabo_shin/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "harabo_shin/screenshot.png">
                  <div class="title">No.44 ハラハラ棒・真</div>
                </a>
                <div>迫りくる棒からハラハラしながら逃げよう！(真)</div>
              </div>

              <div class="game">
                <a href = "hekoki_man/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "hekoki_man/screenshot.png">
                  <div class="title">No.45 へこきーまん</div>
                </a>
                <div>正義の味方へこきーまんの参上！おならで空高く飛び立とう！</div>
              </div>

              <div class="game">
                <a href = "hote_age/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "hote_age/screenshot.png">
                  <div class="title">No.46 ホテルマエニアゲロ</div>
                </a>
                <div>あれ！？あの漫画のタイトルに似ているような？赤くほてってのぼせそうな人を救出しよう！</div>
              </div>

              <div class="game">
                <a href = "iai_giri/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "iai_giri/screenshot.png">
                  <div class="title">No.47 居合い切り</div>
                </a>
                <div>
                  時は戦国、男たちは戦いに明け暮れていた。タイミングよく刀を抜こう。
                </div>
              </div>

              <div class="game">
                <a href = "inukaki/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "inukaki/screenshot.png">
                  <div class="title">No.48 いぬかきレース</div>
                </a>
                <div>いぬかきでタイムを競おう！ただし泳ぐのはいぬですけどね。</div>
              </div>

              <div class="game">
                <a href = "janken/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "janken/screenshot.png">
                  <div class="title">No.49 じゃんけん</div>
                </a>
                <div>世の中結局運ゲーなんですよ…じゃんけんでセンターを目指せ！</div>
              </div>

              <div class="game">
                <a href = "just_5sec/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "just_5sec/screenshot.png">
                  <div class="title">No.50 能動的5秒間</div>
                </a>
                <div>あなたの感覚を研ぎすまし5秒ぴったりでタイムを止めよう！</div>
              </div>

              <div class="game">
                <a href = "kaitou_ha_dareda/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "kaitou_ha_dareda/screenshot.png">
                  <div class="title">No.51 怪盗はだれだ！？</div>
                </a>
                <div>
                  村人に紛れ込んだ怪盗を探せ。
                </div>
              </div>

              <div class="game">
                <a href = "kaki_hiroi/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "kaki_hiroi/screenshot.png">
                  <div class="title">No.52 となりの客はよく柿拾う客だ</div>
                </a>
                <div>とにかくとなりの客はよく柿拾うんです。みかんじゃないです。</div>
              </div>

              <div class="game">
                <a href = "kami_sumo/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "kami_sumo/screenshot.png">
                  <div class="title">No.53 神相撲</div>
                </a>
                <div>タップして力士を操って相手を倒す対戦ゲーム。</div>
              </div>

              <div class="game">
                <a href = "kitakaze_to_taiyou/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "kitakaze_to_taiyou/screenshot.png">
                  <div class="title">No.54 北風と太陽</div>
                </a>
                <div>
                  かの有名な物語の後、北風と太陽は人の服を脱がす楽しさを知ってしまいました。協力して服を脱がせよう。
                </div>
              </div>

              <div class="game">
                <a href = "kudamono_gari/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "kudamono_gari/screenshot.png">
                  <div class="title">No.55 おばあさんのくだものがり</div>
                </a>
                <div>
                  おばあさんの果物狩りを手伝おう。腐った果物はかごに入れちゃだめ。
                </div>
              </div>

              <div class="game">
                <a href = "kugida/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "kugida/screenshot.png">
                  <div class="title">No.56 釘打</div>
                </a>
                <div>ひたすら連打して釘の早打ちに挑戦だ！</div>
              </div>

              <div class="game">
                <a href = "larry_tennis/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "larry_tennis/screenshot.png">
                  <div class="title">No.57 Larry Tennis</div>
                </a>
                <div>勝つのではない！ラリーを長く続けるにはどうしたらいいのか？</div>
              </div>

              <div class="game">
                <a href = "lonely_golf/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "lonely_golf/screenshot.png">
                  <div class="title">No.58 ひとりのGOLF</div>
                </a>
                <div>みんなもいいけどひとりでやるのもいいよね！…ドラコン勝負だ！</div>
              </div>

              <div class="game">
                <a href = "maboroshi_scratch/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "maboroshi_scratch/screenshot.png">
                  <div class="title">No.59 マボロシスクラッチ</div>
                </a>
                <div>カードを削って各等の数字を三つそろえて大金を手に入れよう！</div>
              </div>

              <div class="game">
                <a href = "matteya/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "matteya/screenshot.png">
                  <div class="title">No.60 まって〜や</div>
                </a>
                <div>駆け込み乗車はよくないけどちょっとまって〜や！</div>
              </div>

              <div class="game">
                <a href = "mol_tataki/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "mol_tataki/screenshot.png">
                  <div class="title">No.61 元祖モルたたき</div>
                </a>
                <div>モグラたたき？？いえ、モルです。</div>
              </div>

              <div class="game">
                <a href = "mol_tobashi/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "mol_tobashi/screenshot.png">
                  <div class="title">No.62 モルとばし</div>
                </a>
                <div>混紡でモルをおもいっきりぶっ飛ばそう！</div>
              </div>

              <div class="game">
                <a href = "muon/src/default.html"><img src="btn.png" class="play_btn"><img src = "muon/screenshot.png">
                  <div class="title">No.63 無音の達人</div>
                </a>
                <div>
                  ぼっちな彼の楽しみは放課後の音ゲー。授業中も練習しよう。
                </div>
              </div>

              <div class="game">
                <a href = "natto/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "natto/screenshot.png">
                  <div class="title">No.64 納豆ねばねば</div>
                </a>
                <div>納豆をまぜてまぜて糸をなが〜く引こう</div>
              </div>

              <div class="game">
                <a href = "neejanaika/src/default.html"><img src="btn.png" class="play_btn"><img src = "neejanaika/screenshot.png">
                  <div class="title">No.65 ねぇじゃないか</div>
                </a>
                <div>
                  「レールが……ねえじゃないか！」レール補修工事中にジェットコースターが動き出した！！　落ちないようにコースターを飛び移れ
                </div>
              </div>

              <div class="game">
                <a href = "nekonade/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "nekonade/screenshot.png">
                  <div class="title">No.66 ねこなで</div>
                </a>
                <div>
                  仕事や勉強につかれたあなた。ネコを撫でて癒されませんか？
                </div>
              </div>

              <div class="game">
                <a href = "nobori_dai/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "nobori_dai/screenshot.png">
                  <div class="title">No.67 のぼりだい</div>
                </a>
                <div>すべりだいにのぼりたいんです！連打ですべりだいを逆走しよう！</div>
              </div>

              <div class="game">
                <a href = "onemin_cutting/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "onemin_cutting/screenshot.png">
                  <div class="title">No.68 1分カッティング</div>
                </a>
                <div>1分間で野菜を正しくカッティングしてクッキングしよう！</div>
              </div>

              <div class="game">
                <a href = "oudan_soudo/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "oudan_soudo/screenshot.png">
                  <div class="title">No.69 横断騒動</div>
                </a>
                <div>横断歩道で車がばんばんやってくるのを華麗に避けよう！</div>
              </div>

              <div class="game">
                <a href = "pk/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "pk/screenshot.png">
                  <div class="title">No.70 PK</div>
                </a>
                <div>ひたすら飛んでくるボールをゴールから阻止して真の守護神になろう！</div>
              </div>

              <div class="game">
                <a href = "pray_for_success/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "pray_for_success/screenshot.png">
                  <div class="title">No.71 合格祈願</div>
                </a>
                <div>もうすぐ、大学受験なんです…賽銭箱に小銭をばんばん投げ入れて合格を祈願しよう！</div>
              </div>

              <div class="game">
                <a href = "run_koisitsu_run/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "run_koisitsu_run/screenshot.png">
                  <div class="title">No.72 ラン・更衣室・ラン</div>
                </a>
                <div>学校に不審者が入り込んだ。更衣室には絶対に入れるな！</div>
              </div>

              <div class="game">
                <a href = "sara_arai/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "sara_arai/screenshot.png">
                  <div class="title">No.73 見習いの達人</div>
                </a>
                <div>料理人に憧れてはるばる上京。見習いの君は皿洗いの達人になれるのか！？</div>
              </div>

              <div class="game">
                <a href = "senko_anzan/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "senko_anzan/screenshot.png">
                  <div class="title">No.74 閃光足算</div>
                </a>
                <div>高速で流れる数字を足していこう！</div>
              </div>

              <div class="game">
                <a href = "senko_kakezan/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "senko_kakezan/screenshot.png">
                  <div class="title">No.75 閃光掛算</div>
                </a>
                <div>高速で流れる数字を掛けていこう！</div>
              </div>

              <div class="game">
                <a href = "senko_hikizan/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "senko_hikizan/screenshot.png">
                  <div class="title">No.76 閃光引算</div>
                </a>
                <div>高速で流れる数字を引いていこう！</div>
              </div>

              <div class="game">
                <a href = "senko_warizan/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "senko_warizan/screenshot.png">
                  <div class="title">No.77 閃光割算</div>
                </a>
                <div>高速で流れる数字を割っていこう！</div>
              </div>

              <div class="game">
                <a href = "shashin/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "shashin/screenshot.png">
                  <div class="title">No.78 シャー芯</div>
                </a>
                <div>連打でシャーペンからシャー芯を出しきるんだ！</div>
              </div>

              <div class="game">
                <a href = "shukatsu_master/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "shukatsu_master/screenshot.png">
                  <div class="title">No.79 あなたもこれで、就活マスター</div>
                </a>
                <div>就活なんてマニュアル通りにいけば楽勝だ！たぶん…</div>
              </div>

              <div class="game">
                <a href = "skipman/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "skipman/screenshot.png">
                  <div class="title">No.80 とばし屋</div>
                </a>
                <div>ブランコをこいでタイミングよく靴をぶっ飛ばそう！</div>
              </div>

              <div class="game">
                <a href = "sotsuin/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "sotsuin/screenshot.png">
                  <div class="title">No.81 卒院</div>
                </a>
                <div>まじめに研究なんてできやしなかった。従順に耐え続けた。早く就職したかった。この学科からの卒院。校舎の窓ガラスを割ってまわろう！</div>
              </div>

              <div class="game">
                <a href = "sushi_hayagui/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "sushi_hayagui/screenshot.png">
                  <div class="title">No.82 回転寿司早食い</div>
                </a>
                <div>高速で流れる回転寿司を食べ尽くせ！</div>
              </div>

              <div class="game">
                <a href = "takkyu_larry/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "takkyu_larry/screenshot.png">
                  <div class="title">No.83 Takkyu Larry</div>
                </a>
                <div>サー！卓球でどこまでラリーを続けられるか？</div>
              </div>

              <div class="game">
                <a href = "tamaire/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "tamaire/screenshot.png">
                  <div class="title">No.84 玉入れ</div>
                </a>
                <div>本格的玉入れ！ 赤玉をかごに入れて白組に勝とう！</div>
              </div>

              <div class="game">
                <a href = "tea/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "tea/screenshot.png">
                  <div class="title">No.85 お〜い紅茶</div>
                </a>
                <div>ティーパックをジャストなタイミングで引き上げよう！</div>
              </div>

              <div class="game">
                <a href = "tissue/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "tissue/screenshot.png">
                  <div class="title">No.86 ザ・ティッシュ</div>
                </a>
                <div>ひたすらティッシュをひいてひいてひきまくれ！</div>
              </div>

              <div class="game">
                <a href = "toilet/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "toilet/screenshot.png">
                  <div class="title">No.87 トイレの神様</div>
                </a>
                <div>トイレには神様がおるんやで！奇麗にせなあかん！</div>
              </div>

              <div class="game">
                <a href = "tomero_senpuu/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "tomero_senpuu/screenshot.png">
                  <div class="title">No.88 止めろ旋風</div>
                </a>
                <div>マッドサイエンティスト「仙 風妓」は思った。扇風機がある、故に我あり。扇風機を超えなければ……！！　彼は扇風機を超えるために指で扇風機を止める練習を始めた……。扇風機にタイミングよく手を入れて扇風機を止めよう</div>
              </div>

              <div class="game">
                <a href = "trash_shoot/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "trash_shoot/screenshot.png">
                  <div class="title">No.89 Trash Shoot</div>
                </a>
                <div>風が吹く部屋のなかで、ゴミくずをゴミ箱に投げよう</div>
              </div>

              <div class="game">
                <a href = "tsukeru_matsuge/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "tsukeru_matsuge/screenshot.png">
                  <div class="title">No.90 つけるまつげ</div>
                </a>
                <div>つーける、つーける、つけるまつげ♪目が開いている時は上まつげ、閉じている時は下まつげをつけよう！</div>
              </div>

              <div class="game">
                <a href = "tsuripiku/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "tsuripiku/screenshot.png">
                  <div class="title">No.91 つりピク</div>
                </a>
                <div>のんびり釣りでもどうぞ。魚がかかるのを待とう</div>
              </div>

              <div class="game">
                <a href = "unit_catch/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "unit_catch/screenshot.png">
                  <div class="title">No.92 単位キャッチ-モルの留年回避-</div>
                </a>
                <div>上から降ってくる単位を取得して留年を回避しよう！</div>
              </div>

              <div class="game">
                <a href = "unit_catch_2/src/default.html">
                  <img src="btn.png" class="play_btn">
                  <img src = "unit_catch_2/screenshot.png">
                  <div class="title">No.93 単位キャッチ2-モルの留年回避-</div>
                </a>
                <div>単位を答えて留年を回避しよう？</div>
              </div>

              <div class="game">
                <a href = "view_expansion/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "view_expansion/screenshot.png">
                  <div class="title">No.94 視野拡大</div>
                </a>
                <div>1から30の数字をすばやく順番にタップしよう！</div>
              </div>

              <div class="game">
                <a href = "volley_attack/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "volley_attack/screenshot.png">
                  <div class="title">No.95 バレーアタック</div>
                </a>
                <div>エンドレスアタックだ！ 選手とボールのタイミングを合わせてタップしよう</div>
              </div>

              <div class="game">
                <a href = "weight_lifting/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "weight_lifting/screenshot.png">
                  <div class="title">No.96 重量アゲ↑</div>
                </a>
                <div>連打でバーベルを上まであげてテンションもアゲアゲ↑</div>
              </div>

              <div class="game">
                <a href = "wipe_glasses/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "wipe_glasses/screenshot.png">
                  <div class="title">No.97 二重奥の瞳</div>
                </a>
                <div>眼鏡の奥はどんな瞳をしているのでしょうか？奇麗にして確かめよう！</div>
              </div>

              <div class="game">
                <a href = "yaoya/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "yaoya/screenshot.png">
                  <div class="title">No.98 八百屋の恵み</div>
                </a>
                <div>上から降ってくる野菜をかごにいれて3000円ピッタリにしよう！</div>
              </div>

              <div class="game">
                <a href = "facebokko/src/default.html">
                  <img src="btn.png" class="play_btn"><img src = "facebokko/screenshot.png">
                  <div class="title">No.99 facebokko</div>
                </a>
                <div>いいね！がでたら殴って殴って殴りまくれ！</div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='footer'>
      <div class='declar pull-left'>
        <a href="#">ライセンス</a>
        |
        <a href="#">利用規約</a>
        |
        <a href="#">プライバシーポリシー</a>
      </div>
      <div class='company pull-right'>
        Created by Daraf & Sponsord by Microsoft.
      </div>
    </div>
  </body>
</html>